@font-face {
    font-family: 'digital-7';
    src: URL('./digital-7.ttf') format('ttf');
}

.btn-grey{
    font-size: 40px;
    font-weight: 400;
    background-color: white;
    border-radius: 0;
    border-color: #c1203f;
}

.btn-grey:hover{
    background-color: #f2274f;
    border-color: #670912;
    zoom: 101%;
    position: absolute;
}

.btn-red{
    font-size: 40px;
    font-weight: 400;
    border-radius: 0;
    background-color: #f2274f;
    border-color: #c1203f;
}

.btn-red:hover{
    background-color: white;
    border-color: #670912;
    zoom: 101%;
    position: absolute;
}

.no-x-padding{
    padding-left: 0px;
    padding-right: 0px;
}

.outputScreen{
    background-color: #433437;
    color: white;
    border-radius: 0;
    margin-bottom: -1px;
    border-color: #670912;
    font-size: 40px;
    font-weight: 400;
    text-align: right;
}

.outputScreen:focus{
    border-color: #670912;
    box-shadow: 0 0 0 0.2rem rgba(193, 32, 63, 0.32);
}